<!-- SIDEBAR OVERLAY -->

<div
  class="sidebar-overlay"
  *ngIf="sidebarOpen"
  (click)="closeSidebar()"
>

</div>

<!-- SIDEBAR -->

<div
  class="sidebar"
  [class.show-sidebar]="sidebarOpen"
>

  <!-- TOP -->

  <div class="sidebar-top">

    <img
      src="tt logo.png"
      class="sidebar-logo"
    />

    <h2>

      TASK TUTORIALS

    </h2>

  </div>

  <!-- ITEMS -->
<div
  class="sidebar-item"
  routerLink="/leaderboard"
  (click)="closeSidebar()"
>

  🏆 Leaderboard

</div>

<div
  class="sidebar-item"
  routerLink="/profile"
  (click)="closeSidebar()"
>

  👤 Profile

</div>

<div
  class="sidebar-item"
  routerLink="/privacy"
  (click)="closeSidebar()"
>

  🔒 Privacy Policy

</div>

<div
  class="sidebar-item"
  routerLink="/about"
  (click)="closeSidebar()"
>

  💡 About Us

</div>

</div>