<div class="bottom-nav">

  <a routerLink="/live" routerLinkActive="active" class="nav-item">

   <i class="fa-solid fa-video"></i>
    <span>LIVE</span>

  </a>

  <a routerLink="/recordings" routerLinkActive="active" class="nav-item">

    <i class="fa-solid fa-circle-play"></i>

    <span>RECORDINGS</span>

  </a>

  <a routerLink="/library" routerLinkActive="active" class="nav-item">

    <i class="fa-solid fa-book-open"></i>

    <span>LIBRARY</span>

  </a>

  <a routerLink="/profile" routerLinkActive="active" class="nav-item">

    <i class="fa-regular fa-user"></i>

    <span>PROFILE</span>

  </a>

</div>