<div class="leaderboard-page">

  <!-- TOP HEADER -->

  <div class="top-header">

    <h2>

      🔥 Leaderboards

    </h2>

  </div>

  <!-- SUBTITLE -->

  <p class="sub-text">

    Track your academic and activity performance

  </p>

  <!-- TOGGLE -->

  <div class="leaderboard-toggle">

    <button
      [class.active-toggle]="selectedBoard === 'activity'"
      (click)="selectedBoard = 'activity'"
    >

      Activity

    </button>

    <button
      [class.active-toggle]="selectedBoard === 'academic'"
      (click)="selectedBoard = 'academic'"
    >

      Academic

    </button>

  </div>

  <!-- ACTIVITY LEADERBOARD -->

  @if(selectedBoard === 'activity'){

  <!-- TOP PODIUM -->

  <div class="podium-section">

    <!-- SECOND -->

    <div class="podium-card small">

      <div class="crown bronze">

        👑

      </div>

      <img
        [src]="topStudents[0].image"
      />

      <div class="podium-badge">

        #2

      </div>

      <h3>

        {{ topStudents[0].name }}

      </h3>

      <span class="xp">

        <span class="material-icons star-icon">

          stars

        </span>

        {{ topStudents[0].xp }} XP

      </span>

      <p>

        <span class="material-icons fire-icon">

          local_fire_department

        </span>

        {{ topStudents[0].streak }} Day Streak

      </p>

    </div>

    <!-- FIRST -->

    <div class="podium-card main">

      <div class="crown bronze">

        👑

      </div>

      <img
        [src]="topStudents[1].image"
      />

      <div class="podium-badge">

        #1

      </div>

      <h3>

        {{ topStudents[1].name }}

      </h3>

      <span class="xp">

        <span class="material-icons star-icon">

          stars

        </span>

        {{ topStudents[1].xp }} XP

      </span>

      <p>

        <span class="material-icons fire-icon">

          local_fire_department

        </span>

        {{ topStudents[1].streak }} Day Streak

      </p>

    </div>

    <!-- THIRD -->

    <div class="podium-card small">

      <div class="crown bronze">

        👑

      </div>

      <img
        [src]="topStudents[2].image"
      />

      <div class="podium-badge">

        #3

      </div>

      <h3>

        {{ topStudents[2].name }}

      </h3>

      <span class="xp">

        <span class="material-icons star-icon">

          stars

        </span>

        {{ topStudents[2].xp }} XP

      </span>

      <p>

        <span class="material-icons fire-icon">

          local_fire_department

        </span>

        {{ topStudents[2].streak }} Day Streak

      </p>

    </div>

  </div>

  <!-- YOUR RANK -->

  <div class="rank-card">

    <div class="rank-left">

      <div class="rank-box">

        <h2>

          27

        </h2>

        <span class="material-icons medal-icon">

          military_tech

        </span>

      </div>

      <div>

        <h3>

          Your Rank

        </h3>

      </div>

    </div>

    <div class="rank-stats">

      <div>

        <h2>

          18

          <span class="material-icons fire-icon">

            local_fire_department

          </span>

        </h2>

        <p>

          Day Streak

        </p>

      </div>

      <div>

        <h2>

          91%

        </h2>

        <p>

          Attendance

        </p>

      </div>

      <div>

        <h2>

          <span class="material-icons trophy-icon">

            emoji_events

          </span>

          1820

        </h2>

        <p>

          Total XP

        </p>

      </div>

    </div>

  </div>

  <!-- BADGES -->

  <div class="section-title">

    <h2>

      Your Achievements

    </h2>

  </div>

  <div class="badges-grid">

    <div
      class="badge-card"
      *ngFor="let item of badges"
    >

      <div class="badge-icon">

        {{ item.icon }}

      </div>

      <h4>

        {{ item.title }}

      </h4>

      <p>

        {{ item.subtitle }}

      </p>

    </div>

  </div>

  }

  <!-- ACADEMIC LEADERBOARD -->

  @if(selectedBoard === 'academic'){

  <!-- PODIUM -->

  <div class="podium-section">

    <!-- SECOND -->

    <div class="podium-card small">

      <div class="crown bronze">

        👑

      </div>

      <img
        [src]="academicTopStudents[0].image"
      />

      <div class="podium-badge">

        #2

      </div>

      <h3>

        {{ academicTopStudents[0].name }}

      </h3>

      <span class="xp">

        {{ academicTopStudents[0].percentage }}

      </span>

      <p>

        {{ academicTopStudents[0].subject }}

      </p>

    </div>

    <!-- FIRST -->

    <div class="podium-card main">

      <div class="crown bronze">

        👑

      </div>

      <img
        [src]="academicTopStudents[1].image"
      />

      <div class="podium-badge">

        #1

      </div>

      <h3>

        {{ academicTopStudents[1].name }}

      </h3>

      <span class="xp">

        {{ academicTopStudents[1].percentage }}

      </span>

      <p>

        {{ academicTopStudents[1].subject }}

      </p>

    </div>

    <!-- THIRD -->

    <div class="podium-card small">

      <div class="crown bronze">

        👑

      </div>

      <img
        [src]="academicTopStudents[2].image"
      />

      <div class="podium-badge">

        #3

      </div>

      <h3>

        {{ academicTopStudents[2].name }}

      </h3>

      <span class="xp">

        {{ academicTopStudents[2].percentage }}

      </span>

      <p>

        {{ academicTopStudents[2].subject }}

      </p>

    </div>

  </div>

  <!-- YOUR RANK -->

  <div class="rank-card">

    <div class="rank-left">

      <div class="rank-box">

        <h2>

          23

        </h2>

        <span class="material-icons medal-icon">

          military_tech

        </span>

      </div>

      <div>

        <h3>

          Your Rank

        </h3>

      </div>

    </div>

    <div class="rank-stats">

      <div>

        <h2>

          96%

        </h2>

        <p>

          Avg Score

        </p>

      </div>

      <div>

        <h2>

          24

        </h2>

        <p>

          Tests Given

        </p>

      </div>

      <div>

        <h2>

          3

        </h2>

        <p>

          Top Finishes

        </p>

      </div>

    </div>

  </div>

  <!-- OVERALL RANKINGS -->

  <div class="section-title">

    <h2>

      Overall Rankings

    </h2>

  </div>

  <div class="students-card">

    <div
      class="student-row"
      [class.current-user]="item.current"
      *ngFor="let item of paginatedStudents"
    >

      <div class="student-left">

        <span class="rank-number">

          {{ item.rank }}

        </span>

        <img
          [src]="item.image"
        />

        <h4>

          {{ item.name }}

        </h4>

      </div>

      <div class="student-right">

        <span>

          {{ item.score }}

        </span>

        <span>

          {{ item.tests }} Tests

        </span>

        <span>

          {{ item.avg }}

        </span>

      </div>

    </div>

  </div>

  <!-- PAGINATION -->

  <div class="pagination-box">

    <button
      (click)="previousPage()"
      [disabled]="currentPage === 1"
    >

      Previous

    </button>

    <span>

      Page {{ currentPage }} of {{ totalPages }}

    </span>

    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >

      Next

    </button>

  </div>

  <!-- PERFORMANCE -->

  <div class="section-title">

    <h2>

      Performance Overview

    </h2>

  </div>

  <div class="performance-grid">

    <div class="performance-card">

      <p>

        Average Test Score

      </p>

      <h2>

        96%

      </h2>

    </div>

    <div class="performance-card">

      <p>

        Tests Attempted

      </p>

      <h2>

        24

      </h2>

    </div>

    <div class="performance-card">

      <p>

        Assignments Submitted

      </p>

      <h2>

        18

      </h2>

    </div>

    <div class="performance-card">

      <p>

        Top 3 Finishes

      </p>

      <h2>

        3 Times

      </h2>

    </div>

  </div>

  }

</div>