html,
body{

  overflow-x:hidden;

}
.library-page{

  background:#f7f7f7;

  min-height:100vh;

  padding-bottom:100px;
  max-width:100%;

  overflow-x:hidden;

}

.top-navbar{

  background:white;

  padding:14px 18px;

  display:flex;

  align-items:center;

  justify-content:space-between;

}

.top-navbar i{

  color:#ff5a5f;

  font-size:18px;

}

.top-navbar h2{

  color:#ff5a5f;

  font-size:16px;

  font-weight:600;

  margin:0;

}

.top-navbar img{

  width:34px;

  height:34px;

  border-radius:50%;

  object-fit:cover;

}

.top-header{

  background:#ff5a5f;

  padding:10px 20px;

  color:white;

  display:flex;

  justify-content:space-between;

  align-items:center;

}

.header-content h1{

  font-size:28px;

  margin:0;

}

.header-content p{

  margin-top:5px;

  font-size:14px;

}

.search-icon{

  align-self:flex-start;

  margin-top:12px;

}

.search-icon i{

  color:white;

  font-size:18px;

}

.dropdown-section{

  padding:0 20px;

  margin-top:-16px;

  position:relative;

  z-index:10;

  width:100%;

}

select{

  width:100%;

  max-width:100%;

  min-width:0;

  padding:16px;

  border:none;

  border-radius:16px;

  background:white;

  font-size:18px;

  outline:none;

  box-sizing:border-box;

  appearance:none;

  -webkit-appearance:none;

}

.notes-grid{

  display:grid;

  grid-template-columns:repeat(2,1fr);

  gap:15px;

  padding:0 20px;

}

.note-card{

  background:white;

  border-radius:16px;

  padding:14px 8px;
  text-align:center;

  box-shadow:0 2px 10px rgba(0,0,0,0.05);

}

.folder-icon{

  width:50px;

  height:50px;

  background:#fff1f1;

  border-radius:12px;

  display:flex;

  align-items:center;

  justify-content:center;

  margin:0 auto;

}

.folder-icon i{

  color:#ff5a5f;

  font-size:24px;

}

.note-card h3{

  font-size:16px;

  margin-top:10px;

}

.note-card p{

  color:gray;

  font-size:13px;

}

.note-card span{

  color:gray;

  font-size:12px;

}

*{

  box-sizing:border-box;

}
