<div class="recordings-page">

  <!-- TOP NAVBAR -->

  <div class="top-navbar">

    <div class="menu-icon">
      <i class="fa-solid fa-bars"></i>
    </div>

    <h2>TASK TUTORIALS</h2>

    <img
      src="https://i.pravatar.cc/100"
      class="nav-profile"
    />

  </div>

  <!-- SEARCH -->


  <!-- HEADER -->

  <div class="top-header">

    <div class="header-content">

      <h1>Recordings</h1>

      <p>

        Continue your learning journey 🚀

      </p>

    </div>

    <div
      class="search-icon"
      (click)="toggleSearch()"
    >

      <i class="fa-solid fa-magnifying-glass"></i>

    </div>
    
  <input
    *ngIf="showSearch"
    type="text"
    placeholder="Search recordings..."
    [(ngModel)]="searchText"
    class="search-input"
  />

  </div>

  <!-- CATEGORY CHIPS -->

  <div class="chips-container">

    <div class="chip active-chip">

      All

    </div>

    <div class="chip">

      Top

    </div>

    <div class="chip">

      Live

    </div>

    <div class="chip">

      Trending

    </div>

  </div>

  <!-- DROPDOWN -->

  <div class="dropdown-section">

    <select>

      <option>Xᵗʰ PCMB</option>

      <option>IXᵗʰ PCMB</option>

    </select>

  </div>

  <!-- VIDEOS GRID -->

  <div class="videos-grid">

    <div
      class="video-card"
      *ngFor="let subject of filteredSubjects"
      [routerLink]="subject.route"
    >

      <!-- BADGE -->

      <div class="card-badge">

        {{ subject.badge }}

      </div>

      <!-- THUMBNAIL -->

      <div class="thumbnail-section">

        

      </div>

      <!-- ICON -->

      <div class="video-icon">

        <i class="fa-solid fa-video"></i>

      </div>

      <!-- TITLE -->

      <h3>

        {{ subject.title }}

      </h3>

      <!-- VIDEOS -->

      <p>

        <i class="fa-regular fa-circle-play"></i>

        {{ subject.videos }}

      </p>

      <!-- PROGRESS -->

      <div class="progress-section">

        <div class="progress-text">

          Completed {{ subject.progress }}%

        </div>

        <div class="progress-bar">

          <div
            class="progress-fill"
            [style.width.%]="subject.progress"
          ></div>

        </div>

      </div>

      <!-- TIME -->

      <span>

        {{ subject.time }}

      </span>

    </div>

  </div>

</div>

<app-bottom-nav></app-bottom-nav>