.live-page{

  background:#f6f3f3;

  min-height:100vh;

  padding-bottom:110px;

  padding-top:80px;
  overflow-x: hidden;
}

/* TOP NAVBAR */

.top-navbar{

  background:rgba(255,255,255,0.92);

  padding:8px 18px;

  display:flex;

  align-items:center;

  justify-content:space-between;

  position:fixed;

  top:0;

  left:0;

  width:100%;

  z-index:1000;

  box-sizing:border-box;

  // overflow:hidden;

  box-shadow:
  0 4px 14px rgba(0,0,0,0.05);
}

.top-navbar h2{

  color:#ff5a5f;

  font-size:20px;

  font-weight:600;
}

.menu-icon i{

  color:#ff5a5f;

  font-size:22px;
}

.nav-profile{

  width:38px;

  height:38px;

  border-radius:50%;

  object-fit:cover;
}

/* LIVE CARD */

.live-card{

  margin:12px;

  margin-top:0;

  background:
  linear-gradient(
    135deg,
    #ff5a5f,
    #ff7277
  );

  border-radius:28px;

  padding:18px;

  color:white;

  box-shadow:
  0 10px 26px rgba(255,90,95,0.22);

}

.live-status{

  display:flex;

  align-items:center;

  gap:6px;

  font-size:11px;

  font-weight:600;

  letter-spacing:1px;
}

.dot{

  width:8px;

  height:8px;

  background:#4cff78;

  border-radius:50%;

  box-shadow:
  0 0 10px #4cff78;
}

.live-header{

  margin-top:14px;

  display:flex;

  justify-content:space-between;

  align-items:center;
}

.live-header h1{

  font-size:22px;

  font-weight:700;

  line-height:1.1;
}

.mic-icon{

  width:44px;

  height:44px;

  border-radius:14px;

  background:
  rgba(255,255,255,0.18);

  display:flex;

  align-items:center;

  justify-content:center;

  font-size:18px;

  backdrop-filter:blur(10px);
}

/* TEACHER */

.teacher-info{

  margin-top:20px;

  display:flex;

  align-items:center;

  gap:12px;
}

.teacher-image{

  width:52px;

  height:52px;

  border-radius:50%;

  object-fit:cover;

  border:2px solid rgba(255,255,255,0.3);
}

.teacher-info h3{

  font-size:17px;

  margin:0;

  font-weight:600;
}

.teacher-info p{

  margin-top:3px;

  font-size:12px;

  opacity:0.94;
}

/* DETAILS */

.live-details{

  display:flex;

  gap:10px;

  margin-top:18px;
}

.detail-box{

  background:
  rgba(255,255,255,0.16);

  padding:9px 13px;

  border-radius:12px;

  display:flex;

  align-items:center;

  gap:6px;

  font-size:12px;

  backdrop-filter:blur(10px);
}

/* BUTTON */

.join-btn{

  width:100%;

  margin-top:20px;

  background:white;

  border:none;

  padding:15px;

  border-radius:16px;

  color:#ff5a5f;

  font-weight:700;

  font-size:14px;

  letter-spacing:1px;

  transition:0.3s;
}

.join-btn:hover{

  transform:scale(1.02);
}

.join-btn i{

  margin-right:8px;
}

/* UPCOMING */
.upcoming-header{

  padding:0 18px;

  margin-top:26px;
}

.upcoming-header h2{

  font-size:24px;

  font-weight:700;

  line-height:1.2;
}

.nearest-btn{

  margin-top:14px;

  border:none;

  background:#ff5a5f;

  color:white;

  padding:10px 16px;

  border-radius:20px;

  font-size:12px;

  font-weight:600;

  cursor:pointer;

  box-shadow:
  0 4px 12px rgba(255,90,95,0.18);
}
.nearest-btn{

  border:none;

  background:#ff5a5f;

  color:white;

  padding:8px 14px;

  border-radius:20px;

  font-size:12px;

  font-weight:700;

  cursor:pointer;

  box-shadow:
  0 4px 12px rgba(255,90,95,0.18);
}

/* SCROLL */

.scroll-container{

  display:flex;

  overflow-x:auto;

  gap:16px;

  padding:18px;

  scrollbar-width:none;
}

.scroll-container::-webkit-scrollbar{

  display:none;
}

/* UPCOMING CARD */

.upcoming-card{

  min-width:230px;

  background:white;

  border-radius:24px;

  padding:18px;

  box-shadow:
  0 6px 18px rgba(0,0,0,0.06);

  transition:0.35s;

  
}

.upcoming-card:hover{

  transform:
  translateY(-6px)
  scale(1.02);
}

.time-row{

  display:flex;

  justify-content:space-between;

  align-items:center;

  color:gray;

  font-size:13px;
}

.time-row i{

  color:#ff5a5f;
}

.upcoming-card h3{

  margin-top:16px;

  font-size:18px;

  font-weight:600;

  line-height:1.2;
}

.teacher-row{

  margin-top:14px;

  display:flex;

  align-items:center;

  gap:10px;
}

.teacher-row img{

  width:36px;

  height:36px;

  border-radius:50%;

  object-fit:cover;
}

.teacher-row span{

  font-size:13px;

  color:gray;
}

/* LESSON */

.lesson-row{

  margin-top:12px;

  display:flex;

  justify-content:space-between;

  font-size:10px;

  color:gray;

  font-weight:600;
}
/* STARTS IN */

.starts-in{

  margin-top:12px;

  color:#ff5a5f;

  font-size:12px;

  font-weight:700;

  text-align:left;
}

/* BUTTON */

.upcoming-card button{

  width:100%;

  margin-top:18px;

  padding:13px;

  border:none;

  border-radius:14px;

  background:
linear-gradient(
  135deg,
  #fff0f1,
  #ffe5e7
);
  color:#ff5a5f;

  font-weight:700;

  font-size:13px;

  transition:0.3s;
}

.upcoming-card button:hover{

  transform:scale(1.02);
}

/* STATS */

.stats-grid{

  display:grid;

  grid-template-columns:repeat(2,1fr);

  gap:14px;

  padding:0 18px;
}

.stat-card{

  background:white;

  border-radius:22px;

  padding:18px;

  display:flex;

  align-items:center;

  gap:12px;

  box-shadow:
  0 6px 18px rgba(0,0,0,0.05);

  transition:0.3s;
}

.stat-card:hover{

  transform:
  translateY(-4px);
}

.stat-icon{

  width:46px;

  height:46px;

  border-radius:50%;

  display:flex;

  align-items:center;

  justify-content:center;

  font-size:18px;
}

.red{

  background:#fff0f1;

  color:#ff5a5f;
}

.green{

  background:#e8fff0;

  color:#34c759;
}

.stat-card h2{

  font-size:24px;

  margin:0;
}

.stat-card p{

  color:gray;

  font-size:11px;

  margin-top:3px;

  font-weight:600;
}


/* ANIMATION */

@keyframes fadeSlide{

  from{

    opacity:0;

    transform:
    translateY(20px);
  }

  to{

    opacity:1;

    transform:
    translateY(0);
  }
}

/* DARK MODE */

body.dark-mode .upcoming-card{

  background:#1f1f1f;
}

body.dark-mode .upcoming-card h3,
body.dark-mode .upcoming-card h3 sup{

  color:white !important;
}

body.dark-mode .time-row{

  color:#d1d1d1 !important;
}

body.dark-mode .teacher-row span{

  color:#d1d1d1 !important;
}

body.dark-mode .lesson-row{

  color:#bdbdbd !important;
}

body.dark-mode .stat-card{

  background:#1f1f1f;
}

body.dark-mode .stat-card h2{

  color:white;
}

body.dark-mode .stat-card p{

  color:#d1d1d1;
}

/* DESKTOP */

@media(min-width:768px){

  .scroll-container{

    gap:22px;
  }

  .upcoming-card{

    min-width:260px;
  }


}

/* ========================= */
/* LIVE PAGE PREMIUM ANIMATIONS */
/* ========================= */

/* LIVE CARD */

.live-card{

  opacity:0;

  animation:
  fadeSlide 0.6s ease forwards;

  animation-delay:0.2s;
}

/* UPCOMING CARDS */

.upcoming-card{

  opacity:0;

  animation:
  fadeSlide 0.6s ease forwards;
}

.upcoming-card:nth-child(1){

  animation-delay:0.2s;
}

.upcoming-card:nth-child(2){

  animation-delay:0.4s;
}

.upcoming-card:nth-child(3){

  animation-delay:0.6s;
}

.upcoming-card:nth-child(4){

  animation-delay:0.8s;
}

/* STATS */

.stat-card{

  opacity:0;

  animation:
  fadeSlide 0.6s ease forwards;
}

.stat-card:nth-child(1){

  animation-delay:0.2s;
}

.stat-card:nth-child(2){

  animation-delay:0.4s;
}

.stat-card:nth-child(3){

  animation-delay:0.6s;
}

.stat-card:nth-child(4){

  animation-delay:0.8s;
}